<ion-header>
    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/produtos"></ion-back-button>
        </ion-buttons>

        <ion-title>Produto</ion-title>

        <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
</ion-content>
  
<ion-content class="ion-padding" *ngIf="!isLoading">

    <ion-row>

        <ion-col size="4" offset="4" *ngIf="image != null" style="min-width: 99px; min-height: 99px">
            <ion-img [src]="image"></ion-img>
        </ion-col>
        
        <ion-col size-md="6" offset-md="3">

            <ion-button (click)="filePicker.click()" color="danger"
                type="button" expand="block">Selecionar imagem</ion-button>

            <input style="visibility:hidden" type="file"
                #filePicker  (change)="uploadFile($event)" />

            <form [formGroup]="form" (submit)="onSubmit()">
            
                <ion-item class="ion-margin-bottom" *ngIf="image != null">
                    <ion-label position="floating">Nome do Produto</ion-label>
                    <ion-input formControlName="product"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-bottom" *ngIf="image != null">
                    <ion-label position="floating">Pontos</ion-label>
                    <ion-input type="number" formControlName="price"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-bottom" *ngIf="image != null">
                    <ion-label position="floating">Inicia em</ion-label>
                    <ion-datetime
                        formControlName="startDate" displayFormat="DD/MM/YYYY"
                        max="2030-12-31" [min]="today"
                        (blur)="onStartDateChange()">
                    </ion-datetime>
                </ion-item>

                <ion-item class="ion-margin-bottom" *ngIf="image != null">
                    <ion-label position="floating">Finaliza em</ion-label>
                    <ion-datetime
                        formControlName="endDate" displayFormat="DD/MM/YYYY"
                        max="2030-12-31" [min]="startDate">
                    </ion-datetime>
                </ion-item>
            
                <ion-button *ngIf="image != null" type="submit" expand="block">Salvar</ion-button>
        
            </form>
        </ion-col>
        
    </ion-row> 
</ion-content>