<ion-app>

    <ion-menu side="start">
    
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
    
        <ion-content>
            <ion-list>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/restaurante">
                        <ion-icon name="restaurant" slot="start"></ion-icon>
                        <ion-label>Meu Restaurante</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/restaurante/editar">
                    <!-- <ion-item lines="none" [routerLink]="[restaurantId, 'editar']"> -->
                        <ion-icon name="document" slot="start"></ion-icon>
                        <ion-label>Atualizar Dados</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/cadastrar-produto">
                        <ion-icon name="add" slot="start"></ion-icon>
                        <ion-label>Cadastrar Produto</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item lines="none" (click)="logout()">
                        <ion-icon name="exit" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
        
          </ion-list>
        </ion-content>
    
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

</ion-app>
